@import "~normalize.css";
@import "./styles/fonts.css";

:root {
    --swiper-navigation-color: #ffa500;
    --swiper-theme-color: #ffffff;
}


/* 
swiper-container::part(button-next) {
    color: red;
    margin-right: -15px;
    height: 22px;
} */

body {
    font-family: Inter;
    box-sizing: border-box;
}

.active {
    color: green !important;
    font-weight: 800 !important;
    cursor: none !important;
}