@import "~normalize.css";
@import "./styles/fonts.css";

body {
    font-family: Inter;
    box-sizing: border-box;
}

.active {
    color: green !important;
    font-weight: 800 !important;
    cursor: none !important;
}